/.gitignore
 

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
.idea/workspace.xml

configuration.php
logs/error.php
nbproject/project.xml
nbproject/project.properties
nbproject/configs/admin.properties
logs/error.php
configuration.php
administrator/cache/f004c333c189121b6efdd277f18ae2a2.spc
administrator/cache/873505474503393b3a41cecb243cacb1.spc
configuration.php
logs/error.php
.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
