.icon-48-leads {
      background-image: url(../images/l_leads.png);
      padding-left:60px!important;
}

.icon-48-lead {
      background-image: url(../images/l_leads.png);
      padding-left:60px!important;
}

.icon-48-providers {
      background-image: url(../images/l_providers.png);
      padding-left:60px!important;
}

.icon-48-provider {
      background-image: url(../images/l_providers.png);
      padding-left:60px!important;
}

